.footer {
    // color: red;
    padding: 2rem 18rem 4rem 18rem;
    color: #757575;

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 1.5rem 0 0 0;

        li {
            padding: 0 0 1rem;
            list-style: none;
            font-size: 13px;
        }
    }

    p {
        font-size: 15px;
        margin-top: 24px;
    }
}