
.accordion {
    color: white;
    text-align: center;
    padding: 4rem 0;

    .heading {
        font-size: 50px;
    }

    .mainAccordion {
        padding: 3rem 0;
        width: 60%;
        margin: 0 auto;
    }

    .accordionText {
        text-align: left;
        background: #303030;
        width: 100%;    
        border-bottom: 6px solid black;


        h1 {
            // padding: 1.5rem;
            font-size: 26px;
            font-weight: normal;
        }

    
        .accordionHeading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid black;
            padding: 1.5rem;
        }

        .showText {
            // padding: 0 1.5rem;
            transition: all .2s ease-in-out;
            // display: none;
            height: 0;
            overflow: hidden;
            
        } 

       

        .show {
            height: 100%;
            padding: 1.5rem;
            transition: all .2s ease-in-out;
            // letter-spacing: 1px;
            font-size: 1.625rem;
            font-weight: 400;
        }

    }

}

.check {
    background-color: black;
    // border-radius: 50%;
    width: 100%;

    .icon {
        position: relative;
    
        &,
        &::after {
            width: 2.5rem;
            height: 2px;
            display: inline-block;
            background-color: white;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::after { top: .8rem; }
    }
    
    
}
 