
.accordion {
    color: white;
    text-align: center;
    padding: 4rem 0;
    border-bottom: 8px solid rgb(44, 44, 44);

    .heading {
        font-size: 50px;
    }

    .mainAccordion {
        padding: 3rem 0;
        width: 60%;
        margin: 0 auto;
    }

    .accordionText {
        text-align: left;
        background: #303030;
        width: 100%;    
        border-bottom: 6px solid black;


        h1 {
            // padding: 1.5rem;
            font-size: 26px;
            font-weight: normal;
        }

    
        .accordionHeading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid black;
            padding: 1.5rem;
            cursor: pointer;
        }

        .showText {
            transition: all .1s linear;
            height: 0;
            overflow: hidden;
            padding: 0 1.5rem;

            font-size: 1.625rem;
            font-weight: 400;
        } 

       

        .show {
            height: 100%;
            padding: 1.5rem;
            transition: all .1s linear;
        }

    }

    .inputEmail {
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            padding: 1.1rem 14rem 1.1rem 1rem;
            font-size: 18px;
        }

        label {
            background-color: #e50914;
            padding: .5rem 4rem .9rem 1rem;
            white-space: nowrap;
            font-size: 1.622rem;
            font-weight: 400;
            text-transform: uppercase;

            span {
                font-size: 2rem;
                display: inline-block;
                transform: scaleY(1.4) translateY(-3%);
                padding-left: .5rem;
                font-weight: 400;
            }
        }
    }

    .ready {
        font-size: 21px;
        font-weight: 400;
        padding: 1rem 0
    }

}


.toggle {

    margin-top: 1rem;
}

.check {
    // background-color: black;
    // border-radius: 50%;
    width: 100%;
    cursor: pointer;

    .icon {
        position: relative;
    
        &,
        &::after {
            width: 1.3rem;
            height: 2px;
            display: inline-block;
            background-color: white;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: .01rem;
            transform: rotate(90deg);
        }
    }  
}



.icon2 {
    transform: rotate(45deg);
}


@media only screen and (max-width: 1100px) {
    .accordion {
        padding: 4rem 0;
    
        .heading {
            font-size: 40px;
        }
    
        .mainAccordion {
            padding: 2rem 0;
            width: 80%;
            margin: 0 auto;
        }

        .flex-reverse {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
    

        .inputEmail {
            flex-direction: column;
            // color: rgb(121, 176, 201) !important;
    
            input {
                padding: 1.1rem 14rem 1.1rem 1rem;
                font-size: 18px;
                margin-bottom: 1rem;
            }
    
            label {
                padding: .4rem 1rem .6rem 1rem;
                font-size: 1rem;
                border-radius: 3px;
    
                span {
                    font-size: 1.2rem;
                    display: inline-block;
                    transform: scaleY(1.2) translateY(-2%);
                    padding-left: .4rem;
                }
            }
        }
    
    }
   
}



@media only screen and (max-width: 600px) {
    .accordion {
        .heading {
            font-size: 25px;
        }
    
        .mainAccordion {
            padding: 1rem 0;
            width: 100%;
            margin: 0 auto;
        }
        

        .accordionText {
            width: 100%;   

            h1 {
                // padding: 1.5rem;
                font-size: 18px;
                font-weight: normal;
            }

            .accordionHeading {
                padding: .5rem 1.5rem;
            }
    
            .showText {
                font-size: 1.1rem;
                font-weight: 400;
            } 
    
        }


        .inputEmail {

            input {
                padding: 1rem 18rem 1rem .5rem;
                font-size: 13px;
                margin-bottom: 1rem;
            }
    
           
        }

        .ready {
            font-size: 18px;
            font-weight: 400;
            padding: 1rem 0
        }
    }


    .check {
    
        .icon {
            position: relative;
        
            &,
            &::after {
                width: 1.2rem;
                height: 1px;
                display: inline-block;
                background-color: white;
            }
        }
         
    }

    
}